container_commands:
  01_migrate:
    command: 'cd django_app && python manage.py migrate'
    leader_only: true
  02_collectstatic:
    command: 'cd django_app && python manage.py collectstatic --noinput'
  03wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  04_installtasks:
    command: 'cd django_app && python manage.py installtasks'
  05_install_phantomjs:
    command: wget https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2
  06_prepare_dir:
    command: sudo mkdir -p /opt/phantomjs
  07_unbzip2:
    command: bzip2 -df phantomjs-2.1.1-linux-x86_64.tar.bz2
  08_untar:
    command: sudo tar -xvf phantomjs-2.1.1-linux-x86_64.tar --directory /opt/phantomjs/ --strip-components 1
  09_symlink:
    command: sudo ln -fs /opt/phantomjs/bin/phantomjs /usr/bin/phantomjs
option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: '/opt/python/current/app/django_app/:$PYTHONPATH'
    DJANGO_SETTINGS_MODULE: "config.settings.deploy"

  aws:elasticbeanstalk:container:python:
    WSGIPath: django_app/config/wsgi/deploy.py